.wrapper{
    width: 70%;
    max-width: 60rem;
    margin: 0 auto;
}

.content{
    background-color: #eee;
    max-width: 100%;
    text-align: left;
    margin: 25px 0px 25px 0px;
    border: #fff solid 2px;
}

.header--photo{
    padding-top: 40px;
    float: left;
    width: 350px;
    text-align: center;
    margin: 0 auto;
}

.header--photo_img{
    max-width: 200px;
}

.header--text{
    float: left;
    width: 570px;
    margin: 0 auto;
}

header h1{
    margin: 0px 0px 0px 20px;
    font-size: 52px;
    font-weight: bold;
}

header h3{
    margin: 0px 0px 0px 20px;
    font-size: 26px;
    font-weight: bold;
    font-style: italic;
}

.header--contacts{
    list-style: none;
    margin: 0px 0px 0px -12px;
    font-size: 18px;
    padding: 50px;
}
.address{
    background: url(./images/home.png) no-repeat;
    background-position: 0px 0px;
    padding: 0px 0px 12px 40px;
    background-size: contain;
}

.phone{
    background: url(./images/telephone.png) no-repeat;
    background-position: 0px 0px;
    padding: 0px 0px 12px 40px;
    background-size: contain;
}

.email{
    background: url(./images/mail.png) no-repeat;
    background-position: 0px 0px;
    background-size: contain;
    padding: 0px 0px 12px 40px;
}

.clear{
    float: none;
    clear: both;
    margin: 20px 0px 20px 0px;
}

.about--header{
    float: left;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-align: right;
}

.about--text{
    width: 620px;
    float: right;
    margin-right: 20px;
}

.skills--header{
    float: left;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-align: right;
}

.skills--text{
    width: 620px;
    float: right;
    margin-right: 20px;
}

.skills-list{
    padding-left: 10px;
}

.education--header{
    float: left;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-align: right;
}

.education--text{
    width: 620px;
    float: right;
    margin-right: 20px;
}

.education-list{
    padding-left: 10px;
}

.footer--img{
    width: 150px;
    height: 150px;
}

.footer_content{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.codeexample--header{
    float: left;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-align: right;
}

.codeexample--text{
    width: 620px;
    float: right;
    margin-right: 20px;
}

.example{
    overflow-x: auto;
    margin: 1.5em 0 3em;
    padding: 20px;
    max-width: 100%;
    color: var(--gray85);
    font-size: 1rem;
    line-height: 1.5em;
    background: rgb(202, 200, 200);
}